<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.droidkaigi.confsched">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${mapsApiKey}" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="eef593299f106222b116410ba972260f992134e5" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SessionDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/session_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ColoredStatusBar" />

        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ColoredStatusBar" />

        <activity
            android:name=".activity.SearchedSessionsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ColoredStatusBar" />

        <activity
            android:name=".activity.SessionFeedbackActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ColoredStatusBar" />

        <activity
            android:name=".activity.ContributorsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ColoredStatusBar" />

        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/PlayerTheme" />

        <receiver
            android:name=".receiver.SessionScheduleReceiver"
            android:exported="false" />
    </application>

</manifest>
